In [1]:
loan_amount = [1250.0, 500.0, 1450.0, 200.0, 700.0, 100.0, 250.0, 225.0, 1200.0, 150.0, 600.0, 300.0, 700.0, 125.0, 650.0, 175.0, 1800.0, 1525.0, 575.0, 700.0, 1450.0, 400.0, 200.0, 1000.0, 350.0]
country_name = ['Azerbaijan', 'El Salvador', 'Bolivia', 'Paraguay', 'El Salvador', 'Philippines', 'Philippines', 'Nicaragua', 'Guatemala', 'Philippines', 'Paraguay', 'Philippines', 'Bolivia', 'Philippines', 'Philippines', 'Madagascar', 'Georgia', 'Uganda', 'Kenya', 'Tajikistan', 'Jordan', 'Kenya', 'Philippines', 'Ecuador', 'Kenya']
time_to_raise = [193075.0, 1157108.0, 1552939.0, 244945.0, 238797.0, 1248909.0, 773599.0, 116181.0, 2288095.0, 51668.0, 26717.0, 48030.0, 1839190.0, 71117.0, 580401.0, 800427.0, 1156218.0, 1166045.0, 2924705.0, 470622.0, 24078.0, 260044.0, 445938.0, 201408.0, 2370450.0]
num_lenders_total = [38, 18, 51, 3, 21, 1, 10, 8, 42, 1, 18, 6, 28, 5, 16, 7, 54, 1, 18, 22, 36, 12, 8, 24, 8]

In [3]:
import pandas as pd

data = {'LoanAmount': loan_amount, 'CountryName': country_name, 'TimeToRaise': time_to_raise, 'NumLendersTotal':num_lenders_total}
df = pd.DataFrame(data)

In [6]:
df.head()

   LoanAmount  CountryName  TimeToRaise  NumLendersTotal
0      1250.0   Azerbaijan     193075.0               38
1       500.0  El Salvador    1157108.0               18
2      1450.0      Bolivia    1552939.0               51
3       200.0     Paraguay     244945.0                3
4       700.0  El Salvador     238797.0               21

In [8]:
# What is the total amount of money loaned?

TotalLoan = df.LoanAmount.sum()
TotalLoan

16575.0

In [9]:
# What is the average loan amount?

AvgLoan = df.LoanAmount.mean()
AvgLoan

663.0

In [12]:
# What is the largest/smallest loan?

MaxLoan = df.LoanAmount.max()
MinLoan = df.LoanAmount.min()

print(f'Max: {MaxLoan}, Min: {MinLoan}')

Max: 1800.0, Min: 100.0

In [16]:
# What country got the largest/smallest loan?

Largest = df[df['LoanAmount'] == MaxLoan]['CountryName']
Smallest = df[df['LoanAmount'] == MinLoan]['CountryName']
print('Largest')
print('-------------')
print(Largest)
print('')
print('Smallest')
print('-------------')
print(Smallest)

Largest
-------------
16    Georgia
Name: CountryName, dtype: object

Smallest
-------------
5    Philippines
Name: CountryName, dtype: object

In [21]:
# What is the variance of the money loaned?
LoanVariance = df.LoanAmount.var()
LoanVariance

260891.66666666666

In [22]:
# What is the average number of days needed to fund a loan?
AvgRaiseDays = df.TimeToRaise.mean()
AvgRaiseDays

810028.24

In [23]:
# Compute the average number of lenders per loan and store it in a variable average_lenders
average_lenders = df.NumLendersTotal.mean()
average_lenders

18.24

In [25]:
# For each unique country name, print a line that shows the name of the country and then the number of loans made in that country, like this: “Guatemala 1”

country_count = df['CountryName'].value_counts()
country_count

Philippines    7
Kenya          3
El Salvador    2
Bolivia        2
Paraguay       2
Azerbaijan     1
Nicaragua      1
Guatemala      1
Madagascar     1
Georgia        1
Uganda         1
Tajikistan     1
Jordan         1
Ecuador        1
Name: CountryName, dtype: int64

In [27]:
# What is the average amount of loans made to people in the Philippines?

AvgPhLoan = df[df['CountryName'] == 'Philippines']['LoanAmount'].mean()
AvgPhLoan

253.57142857142858

In [29]:
# In which country was the loan granted that took the longest to fund?
LongestCountry = df[df['TimeToRaise'] == df.TimeToRaise.max()]['CountryName']
LongestCountry

18    Kenya
Name: CountryName, dtype: object

In [31]:
# What is the average amount of time / dollar it takes to fund a loan?

df['TimePerDollar'] = df['TimeToRaise'] / df['LoanAmount']

AvgTimePerDollar = df.TimePerDollar.mean()

print(f'Average Time/Dollar: {AvgTimePerDollar}')
df.head()

Average Time/Dollar: 1974.4240154914921

   LoanAmount  CountryName  TimeToRaise  NumLendersTotal  TimePerDollar
0      1250.0   Azerbaijan     193075.0               38     154.460000
1       500.0  El Salvador    1157108.0               18    2314.216000
2      1450.0      Bolivia    1552939.0               51    1070.992414
3       200.0     Paraguay     244945.0                3    1224.725000
4       700.0  El Salvador     238797.0               21     341.138571

In [32]:
# Calculate the standard deviation of the loan_amount variable and store the variance in loan_var and the standard deviation in loan_stdev

LoanSTD = df.LoanAmount.std()
LoanSTD

510.775554100494

In [36]:
# Calculate the pearson correlation between the loan_amount and the num_lenders_total or between time_to_raise and the loan_amount or between num_lenders_total and time_to_raise. If you divide up the class you can compare values to see which pair has the strongest correlation.


print(df['LoanAmount'].corr(df['NumLendersTotal']))
df.corr()

0.8030365843536594

C:\Users\prama\AppData\Local\Temp\ipykernel_15052\965713873.py:5: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                 LoanAmount  TimeToRaise  NumLendersTotal  TimePerDollar
LoanAmount         1.000000     0.189190         0.803037      -0.363752
TimeToRaise        0.189190     1.000000         0.242550       0.542181
NumLendersTotal    0.803037     0.242550         1.000000      -0.295559
TimePerDollar     -0.363752     0.542181        -0.295559       1.000000